.page-box {
    display: flex;
    justify-content: center;

    .index-box {
      padding: 1rem;
      border: 1px solid #dee2e6;
      color: #007bff;
    }
    .index-box:first-child {
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .index-box:last-child {
        border-radius: 0 0.25rem 0.25rem 0;
    }
    .disabled {
        color: #6c757d;
    }
    .selected {
      z-index: 1;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
  }
  